{% extends "base.html" %}
{% block game %}
        <div class="game_board">
            <div id="start-menu" class="menu">
                <h1 class="title">Welcome to tic-tac-toe!</h1>
                <table class="choice_buttons">
                    <tr id="shape_choice">
                        <td><a href="#" id="O_button" class="button button-flat button-large disabled">Choose O</a></td>
                        <td><a href="#" id="X_button" class="button button-flat button-large disabled">Choose X</a></td>
                    </tr>

                    <tr id="order_choice">
                        <td><a href="#" id="first_button" class="button button-flat button-large disabled">Play First</a></td>
                        <td><a href="#" id="second_button" class="button button-flat button-large disabled">Play Second</a></td>
                    </tr>
                </table>
            </div>
            <div id="game-over-menu" class="menu hide_menu game_over">
                <table id="choice-buttons" class="choice_buttons">
                    <tr id="reset">
                        <td><a href="#" id="reset-button" class="button button-flat-caution button-large">reset</a></td>
                    </tr>
                </table>
            </div>
            <canvas id="tic_tac_toe_box_0"
                    class="play_canvas"
                    width="125" height="125"></canvas>
            <canvas id="tic_tac_toe_box_1"
                    class="play_canvas"
                    width="125" height="125"></canvas>
            <canvas id="tic_tac_toe_box_2"
                    class="play_canvas"
                    width="125" height="125"></canvas>
            <br>
            <canvas id="tic_tac_toe_box_3"
                    class="play_canvas"
                    width="125" height="125"></canvas>
            <canvas id="tic_tac_toe_box_4"
                    class="play_canvas"
                    width="125" height="125"></canvas>
            <canvas id="tic_tac_toe_box_5"
                    class="play_canvas"
                    width="125" height="125"></canvas>
            <br>
            <canvas id="tic_tac_toe_box_6"
                    class="play_canvas"
                    width="125" height="125"></canvas>
            <canvas id="tic_tac_toe_box_7"
                    class="play_canvas"
                    width="125" height="125"></canvas>
            <canvas id="tic_tac_toe_box_8"
                    class="play_canvas"
                    width="125" height="125"></canvas>
        </div>

{% endblock %}