{% extends "base.html" %}

{% block game %}
        <div class="game_board">
            <canvas id="tic_tac_toe_box_0"
                    class="play_canvas"></canvas>
            <canvas id="tic_tac_toe_box_1"
                    class="play_canvas"></canvas>
            <canvas id="tic_tac_toe_box_2"
                    class="play_canvas"></canvas>
            <br>
            <canvas id="tic_tac_toe_box_3"
                    class="play_canvas"></canvas>
            <canvas id="tic_tac_toe_box_4"
                    class="play_canvas"></canvas>
            <canvas id="tic_tac_toe_box_5"
                    class="play_canvas"></canvas>
            <br>
            <canvas id="tic_tac_toe_box_6"
                    class="play_canvas"></canvas>
            <canvas id="tic_tac_toe_box_7"
                    class="play_canvas"></canvas>
            <canvas id="tic_tac_toe_box_8"
                    class="play_canvas"></canvas>
        </div>

{% endblock %}